extends layout

block content
  h1= title
  p Tomato results
  div(class="container-fluid")
        div(class="row")
            -
                let mattress = [
                    {
                        "type": "Heirloom Tomatoes",
                        "expdate": "11/04/2021",
                        "cost": 3.28
                    },
                    {
                        "type": "Beefsteak Tomatoes",
                        "expdate": "11/12/2021",
                        "cost": 4.44
                    },
                    {
                        "type": "Plum Tomatoes",
                        "expdate": "11/02/2021",
                        "cost": 4.71
                    },                   
                ]
            each v,index in mattress
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.type}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.expdate}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.cost}

                script.                
                      function buy(intemNo)
                      {
                            alert(`you purchased Item ${intemNo+1}`)
                      }